<div class="organizations">
  <div class="sidebar">
    {{#organization-list
      class='main-org-list'
      organizations=model
      on-star=(route-action 'star') as |org myString|}}

      <img src={{org.avatar_url}}> {{org.name}} {{myString}}
    {{else}}
      NOOO!
    {{/organization-list}}

    {{organization-list organizations=model on-star=(route-action 'star')}}
  </div>

  <div class="main">
    {{outlet}}
  </div>
</div>
