{{#if hasStars}}
  <li>{{decorate-number starredOrganizations.length}} Stars</li>
{{/if}}

{{#each organizations as |organization|}}
  <li class="organization {{if organization.isStarred 'starred'}}" {{action on-star organization}}>
    {{#if hasBlock}}
      {{yield organization 'foo'}}
    {{else}}
      {{organization.name}}
    {{/if}}
  </li>
{{else}}
  <li>No items.</li>
{{/each}}
