{{#if hasStars}}
  <li>{{decorate-number starredOrganizations.length}} Stars</li>
{{/if}}

{{#each organizations as |organization|}}
  {{!-- {{action on-star organization}} --}}
  <li class="organization {{if organization.isStarred 'starred'}}">
    {{#link-to 'organizations.organization' organization.login}}
      {{#if hasBlock}}
        {{yield organization 'foo'}}
      {{else}}
        {{organization.name}}
      {{/if}}
    {{/link-to}}
  </li>
{{else}}
  <li>No items.</li>
{{/each}}
